body{
    background-image: url("background2.jpg");
    text-align: center;
    font-family: 'Edu SA Beginner', cursive;
}
.list{
    background-image: url("paper.jpg");
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}
h1{
    text-align: center;
}
li{
    margin-top: 15px;
    margin-bottom: 15px;
}
ul{
    list-style-type: none;
}
input, .edit{
    margin-right: 20px;
}
.edit-color{
    color: orange;
}
img{
    margin: 0;
    padding: 0;
    width: 100px;
    height: auto;
}
.checked{
    text-decoration: line-through;
    color: green;
}
