body{
    background-color: gainsboro;
    text-align: center;
    
}
.list{
    background-color: #1A1110;
    color: white;
}
h1{
    text-align: center;
}
li{
    margin-top: 15px;
    margin-bottom: 15px;
}